<button class="round-button" onclick="openForm()"> </button>
<div class="container" id="chatbox">
    <div class="chat-header">
        <div class="logo">
            <img src="/images/NCBud.png" alt="NCBud" />
        </div>
        <div class="title">NC Buddy</div>
    </div>
    <div class="chat-body">
        <!-- Quick Links placed within the chat body -->
        <div class="quick-links">
            <a href="#" class="quick-link">ERP</a>
            <a href="#" class="quick-link">BASS</a>
            <a href="#" class="quick-link">Holidays</a>
            <a href="/IT%20Services" class="quick-link">IT Services</a>
            <a href="#" class="quick-link">Travel</a>
            <a href="#" class="quick-link">New Hire Information</a>
        </div>
    </div>
    <div class="chat-input">
        <div class="input-sec">
            <input type="text" id="txtInput" placeholder="Type here" autofocus />
        </div>
        <div class="send">
            <img src="/images/send-32.png" alt="send" />
        </div>
    </div>
</div>